In [4]:
import pandas as pd
df = pd.read_csv('adult.csv')
df.shape

(48842, 15)

In [5]:
df.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'educational-num',
       'marital-status', 'occupation', 'relationship', 'race', 'gender',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'income'],
      dtype='object')

In [6]:
df['native-country'].unique()

array(['United-States', '?', 'Peru', 'Guatemala', 'Mexico',
       'Dominican-Republic', 'Ireland', 'Germany', 'Philippines',
       'Thailand', 'Haiti', 'El-Salvador', 'Puerto-Rico', 'Vietnam',
       'South', 'Columbia', 'Japan', 'India', 'Cambodia', 'Poland',
       'Laos', 'England', 'Cuba', 'Taiwan', 'Italy', 'Canada', 'Portugal',
       'China', 'Nicaragua', 'Honduras', 'Iran', 'Scotland', 'Jamaica',
       'Ecuador', 'Yugoslavia', 'Hungary', 'Hong', 'Greece',
       'Trinadad&Tobago', 'Outlying-US(Guam-USVI-etc)', 'France',
       'Holand-Netherlands'], dtype=object)

In [7]:
country_cols = {}
for col in df['native-country'].dropna().unique():
  country_cols[col] = df[df['native-country'] == col]

In [8]:
print(country_cols['India'])

       age  workclass  fnlwgt     education  educational-num  \
398     36    Private  116358       Masters               14
564     26    Private  341672  Some-college               10
1101    55    Private  176219     Bachelors               13
1556    33  State-gov  150688     Doctorate               16
1593    54          ?  120781     Doctorate               16
...    ...        ...     ...           ...              ...
46433   48    Private  119471     Doctorate               16
47114   25    Private  110978    Assoc-acdm               12
47152   26    Private  160261       Masters               14
47608   38  State-gov  125499     Bachelors               13
47638   23    Private  143003       Masters               14

              marital-status         occupation    relationship  \
398       Married-civ-spouse    Exec-managerial         Husband
564            Never-married       Adm-clerical  Other-relative
1101      Married-civ-spouse  Machine-op-inspct         Husband
1556      Married-civ-spouse     Prof-specialty         Husband
1593   Married-spouse-absent                  ?       Unmarried
...                      ...                ...             ...
46433     Married-civ-spouse     Prof-specialty         Husband
47114     Married-civ-spouse       Adm-clerical            Wife
47152          Never-married     Prof-specialty   Not-in-family
47608     Married-civ-spouse     Prof-specialty         Husband
47638     Married-civ-spouse     Prof-specialty         Husband

                     race  gender  capital-gain  capital-loss  hours-per-week  \
398    Asian-Pac-Islander    Male             0             0              45
564    Asian-Pac-Islander    Male             0             0              60
1101   Asian-Pac-Islander    Male             0             0              40
1556   Asian-Pac-Islander    Male             0             0              50
1593   Asian-Pac-Islander    Male             0             0              20
...                   ...     ...           ...           ...             ...
46433  Asian-Pac-Islander    Male             0             0              40
47114  Asian-Pac-Islander  Female             0             0              37
47152  Asian-Pac-Islander    Male             0             0              20
47608  Asian-Pac-Islander    Male          7688             0              60
47638  Asian-Pac-Islander    Male             0          1887              50

      native-country income
398            India  <=50K
564            India  <=50K
1101           India  <=50K
1556           India   >50K
1593           India  <=50K
...              ...    ...
46433          India   >50K
47114          India   >50K
47152          India  <=50K
47608          India   >50K
47638          India   >50K

[151 rows x 15 columns]

In [9]:
df['gender'].unique()

array(['Male', 'Female'], dtype=object)

In [10]:
male = df[df['gender'] == 'Male']
female = df[df['gender'] == 'Female']

In [11]:
print(male)

       age  workclass  fnlwgt     education  educational-num  \
0       25    Private  226802          11th                7
1       38    Private   89814       HS-grad                9
2       28  Local-gov  336951    Assoc-acdm               12
3       44    Private  160323  Some-college               10
5       34    Private  198693          10th                6
...    ...        ...     ...           ...              ...
48834   32    Private  116138       Masters               14
48835   53    Private  321865       Masters               14
48836   22    Private  310152  Some-college               10
48838   40    Private  154374       HS-grad                9
48840   22    Private  201490       HS-grad                9

           marital-status         occupation   relationship  \
0           Never-married  Machine-op-inspct      Own-child
1      Married-civ-spouse    Farming-fishing        Husband
2      Married-civ-spouse    Protective-serv        Husband
3      Married-civ-spouse  Machine-op-inspct        Husband
5           Never-married      Other-service  Not-in-family
...                   ...                ...            ...
48834       Never-married       Tech-support  Not-in-family
48835  Married-civ-spouse    Exec-managerial        Husband
48836       Never-married    Protective-serv  Not-in-family
48838  Married-civ-spouse  Machine-op-inspct        Husband
48840       Never-married       Adm-clerical      Own-child

                     race gender  capital-gain  capital-loss  hours-per-week  \
0                   Black   Male             0             0              40
1                   White   Male             0             0              50
2                   White   Male             0             0              40
3                   Black   Male          7688             0              40
5                   White   Male             0             0              30
...                   ...    ...           ...           ...             ...
48834  Asian-Pac-Islander   Male             0             0              11
48835               White   Male             0             0              40
48836               White   Male             0             0              40
48838               White   Male             0             0              40
48840               White   Male             0             0              20

      native-country income
0      United-States  <=50K
1      United-States  <=50K
2      United-States   >50K
3      United-States   >50K
5      United-States  <=50K
...              ...    ...
48834         Taiwan  <=50K
48835  United-States   >50K
48836  United-States  <=50K
48838  United-States   >50K
48840  United-States  <=50K

[32650 rows x 15 columns]

In [12]:
df['race'].unique()

array(['Black', 'White', 'Asian-Pac-Islander', 'Other',
       'Amer-Indian-Eskimo'], dtype=object)

In [13]:
race_cols = {}
for col in df['race'].unique():
  race_cols[col] = df[df['race'] == col]

print(race_cols['White'])

       age         workclass  fnlwgt     education  educational-num  \
1       38           Private   89814       HS-grad                9
2       28         Local-gov  336951    Assoc-acdm               12
4       18                 ?  103497  Some-college               10
5       34           Private  198693          10th                6
7       63  Self-emp-not-inc  104626   Prof-school               15
...    ...               ...     ...           ...              ...
48837   27           Private  257302    Assoc-acdm               12
48838   40           Private  154374       HS-grad                9
48839   58           Private  151910       HS-grad                9
48840   22           Private  201490       HS-grad                9
48841   52      Self-emp-inc  287927       HS-grad                9

           marital-status         occupation   relationship   race  gender  \
1      Married-civ-spouse    Farming-fishing        Husband  White    Male
2      Married-civ-spouse    Protective-serv        Husband  White    Male
4           Never-married                  ?      Own-child  White  Female
5           Never-married      Other-service  Not-in-family  White    Male
7      Married-civ-spouse     Prof-specialty        Husband  White    Male
...                   ...                ...            ...    ...     ...
48837  Married-civ-spouse       Tech-support           Wife  White  Female
48838  Married-civ-spouse  Machine-op-inspct        Husband  White    Male
48839             Widowed       Adm-clerical      Unmarried  White  Female
48840       Never-married       Adm-clerical      Own-child  White    Male
48841  Married-civ-spouse    Exec-managerial           Wife  White  Female

       capital-gain  capital-loss  hours-per-week native-country income
1                 0             0              50  United-States  <=50K
2                 0             0              40  United-States   >50K
4                 0             0              30  United-States  <=50K
5                 0             0              30  United-States  <=50K
7              3103             0              32  United-States   >50K
...             ...           ...             ...            ...    ...
48837             0             0              38  United-States  <=50K
48838             0             0              40  United-States   >50K
48839             0             0              40  United-States  <=50K
48840             0             0              20  United-States  <=50K
48841         15024             0              40  United-States   >50K

[41762 rows x 15 columns]

In [14]:
merged = pd.concat([country_cols['India'], country_cols['Iran']])
print(merged)

       age         workclass  fnlwgt     education  educational-num  \
398     36           Private  116358       Masters               14
564     26           Private  341672  Some-college               10
1101    55           Private  176219     Bachelors               13
1556    33         State-gov  150688     Doctorate               16
1593    54                 ?  120781     Doctorate               16
...    ...               ...     ...           ...              ...
42826   32      Self-emp-inc  124919     Bachelors               13
42851   47           Private  192793     Doctorate               16
47284   35           Private  267866       HS-grad                9
47873   59           Private   59469       Masters               14
48266   42  Self-emp-not-inc  126614     Bachelors               13

              marital-status         occupation    relationship  \
398       Married-civ-spouse    Exec-managerial         Husband
564            Never-married       Adm-clerical  Other-relative
1101      Married-civ-spouse  Machine-op-inspct         Husband
1556      Married-civ-spouse     Prof-specialty         Husband
1593   Married-spouse-absent                  ?       Unmarried
...                      ...                ...             ...
42826     Married-civ-spouse      Other-service         Husband
42851     Married-civ-spouse     Prof-specialty         Husband
47284     Married-civ-spouse              Sales         Husband
47873     Married-civ-spouse       Tech-support         Husband
48266               Divorced    Exec-managerial   Not-in-family

                     race gender  capital-gain  capital-loss  hours-per-week  \
398    Asian-Pac-Islander   Male             0             0              45
564    Asian-Pac-Islander   Male             0             0              60
1101   Asian-Pac-Islander   Male             0             0              40
1556   Asian-Pac-Islander   Male             0             0              50
1593   Asian-Pac-Islander   Male             0             0              20
...                   ...    ...           ...           ...             ...
42826  Asian-Pac-Islander   Male             0             0              50
42851               White   Male             0             0              40
47284  Asian-Pac-Islander   Male             0          1887              50
47873               White   Male             0             0              40
48266               Other   Male             0             0              30

      native-country income
398            India  <=50K
564            India  <=50K
1101           India  <=50K
1556           India   >50K
1593           India  <=50K
...              ...    ...
42826           Iran   >50K
42851           Iran   >50K
47284           Iran   >50K
47873           Iran  <=50K
48266           Iran  <=50K

[210 rows x 15 columns]

In [15]:
sorted_values = df.sort_values(by=['hours-per-week'], ascending=False)

In [16]:
print(sorted_values)

       age         workclass  fnlwgt     education  educational-num  \
5099    41  Self-emp-not-inc   34037       HS-grad                9
48750   58      Self-emp-inc  181974     Doctorate               16
48812   30                 ?   33811     Bachelors               13
38497   45           Private   54260  Some-college               10
38594   26  Self-emp-not-inc  258306          10th                6
...    ...               ...     ...           ...              ...
2655    54                 ?  186565       Masters               14
22047   62                 ?   97231  Some-college               10
22089   76                 ?  211574          10th                6
24728   67                 ?  244122     Assoc-voc               11
37190   77  Self-emp-not-inc   71676  Some-college               10

           marital-status       occupation   relationship                race  \
5099   Married-civ-spouse  Farming-fishing        Husband               White
48750       Never-married   Prof-specialty  Not-in-family               White
48812       Never-married                ?  Not-in-family  Asian-Pac-Islander
38497            Divorced     Craft-repair      Unmarried               White
38594  Married-civ-spouse  Farming-fishing        Husband               White
...                   ...              ...            ...                 ...
2655             Divorced                ?  Not-in-family               White
22047  Married-civ-spouse                ?           Wife               White
22089  Married-civ-spouse                ?        Husband               White
24728             Widowed                ?  Not-in-family               White
37190             Widowed     Adm-clerical  Not-in-family               White

       gender  capital-gain  capital-loss  hours-per-week native-country  \
5099     Male             0             0              99  United-States
48750  Female             0             0              99              ?
48812  Female             0             0              99  United-States
38497    Male             0             0              99  United-States
38594    Male             0             0              99  United-States
...       ...           ...           ...             ...            ...
2655     Male             0             0               1  United-States
22047  Female             0             0               1  United-States
22089    Male             0             0               1  United-States
24728  Female             0             0               1  United-States
37190  Female             0          1944               1  United-States

      income
5099   <=50K
48750  <=50K
48812  <=50K
38497  <=50K
38594  <=50K
...      ...
2655   <=50K
22047  <=50K
22089  <=50K
24728  <=50K
37190  <=50K

[48842 rows x 15 columns]

In [17]:
transpose = df.transpose()
print(transpose)

                             0                   1                   2      \
age                             25                  38                  28
workclass                  Private             Private           Local-gov
fnlwgt                      226802               89814              336951
education                     11th             HS-grad          Assoc-acdm
educational-num                  7                   9                  12
marital-status       Never-married  Married-civ-spouse  Married-civ-spouse
occupation       Machine-op-inspct     Farming-fishing     Protective-serv
relationship             Own-child             Husband             Husband
race                         Black               White               White
gender                        Male                Male                Male
capital-gain                     0                   0                   0
capital-loss                     0                   0                   0
hours-per-week                  40                  50                  40
native-country       United-States       United-States       United-States
income                       <=50K               <=50K                >50K

                              3              4              5      \
age                              44             18             34
workclass                   Private              ?        Private
fnlwgt                       160323         103497         198693
education              Some-college   Some-college           10th
educational-num                  10             10              6
marital-status   Married-civ-spouse  Never-married  Never-married
occupation        Machine-op-inspct              ?  Other-service
relationship                Husband      Own-child  Not-in-family
race                          Black          White          White
gender                         Male         Female           Male
capital-gain                   7688              0              0
capital-loss                      0              0              0
hours-per-week                   40             30             30
native-country        United-States  United-States  United-States
income                         >50K          <=50K          <=50K

                         6                   7              8      \
age                         29                  63             24
workclass                    ?    Self-emp-not-inc        Private
fnlwgt                  227026              104626         369667
education              HS-grad         Prof-school   Some-college
educational-num              9                  15             10
marital-status   Never-married  Married-civ-spouse  Never-married
occupation                   ?      Prof-specialty  Other-service
relationship         Unmarried             Husband      Unmarried
race                     Black               White          White
gender                    Male                Male         Female
capital-gain                 0                3103              0
capital-loss                 0                   0              0
hours-per-week              40                  32             40
native-country   United-States       United-States  United-States
income                   <=50K                >50K          <=50K

                              9      ...               48832  \
age                              55  ...                  32
workclass                   Private  ...             Private
fnlwgt                       104996  ...               34066
education                   7th-8th  ...                10th
educational-num                   4  ...                   6
marital-status   Married-civ-spouse  ...  Married-civ-spouse
occupation             Craft-repair  ...   Handlers-cleaners
relationship                Husband  ...             Husband
race                          White  ...  Amer-Indian-Eskimo
gender                         Male  ...                Male
capital-gain                      0  ...                   0
capital-loss                      0  ...                   0
hours-per-week                   10  ...                  40
native-country        United-States  ...       United-States
income                        <=50K  ...               <=50K

                              48833               48834               48835  \
age                              43                  32                  53
workclass                   Private             Private             Private
fnlwgt                        84661              116138              321865
education                 Assoc-voc             Masters             Masters
educational-num                  11                  14                  14
marital-status   Married-civ-spouse       Never-married  Married-civ-spouse
occupation                    Sales        Tech-support     Exec-managerial
relationship                Husband       Not-in-family             Husband
race                          White  Asian-Pac-Islander               White
gender                         Male                Male                Male
capital-gain                      0                   0                   0
capital-loss                      0                   0                   0
hours-per-week                   45                  11                  40
native-country        United-States              Taiwan       United-States
income                        <=50K               <=50K                >50K

                           48836               48837               48838  \
age                           22                  27                  40
workclass                Private             Private             Private
fnlwgt                    310152              257302              154374
education           Some-college          Assoc-acdm             HS-grad
educational-num               10                  12                   9
marital-status     Never-married  Married-civ-spouse  Married-civ-spouse
occupation       Protective-serv        Tech-support   Machine-op-inspct
relationship       Not-in-family                Wife             Husband
race                       White               White               White
gender                      Male              Female                Male
capital-gain                   0                   0                   0
capital-loss                   0                   0                   0
hours-per-week                40                  38                  40
native-country     United-States       United-States       United-States
income                     <=50K               <=50K                >50K

                         48839          48840               48841
age                         58             22                  52
workclass              Private        Private        Self-emp-inc
fnlwgt                  151910         201490              287927
education              HS-grad        HS-grad             HS-grad
educational-num              9              9                   9
marital-status         Widowed  Never-married  Married-civ-spouse
occupation        Adm-clerical   Adm-clerical     Exec-managerial
relationship         Unmarried      Own-child                Wife
race                     White          White               White
gender                  Female           Male              Female
capital-gain                 0              0               15024
capital-loss                 0              0                   0
hours-per-week              40             20                  40
native-country   United-States  United-States       United-States
income                   <=50K          <=50K                >50K

[15 rows x 48842 columns]

In [18]:
melted = pd.melt(df, id_vars=['workclass', 'education', 'occupation'], value_vars=['capital-gain', 'capital-loss', 'hours-per-week', 'income'], var_name="Income Stats", value_name="Value")
print(melted)

           workclass     education         occupation  Income Stats  Value
0            Private          11th  Machine-op-inspct  capital-gain      0
1            Private       HS-grad    Farming-fishing  capital-gain      0
2          Local-gov    Assoc-acdm    Protective-serv  capital-gain      0
3            Private  Some-college  Machine-op-inspct  capital-gain   7688
4                  ?  Some-college                  ?  capital-gain      0
...              ...           ...                ...           ...    ...
195363       Private    Assoc-acdm       Tech-support        income  <=50K
195364       Private       HS-grad  Machine-op-inspct        income   >50K
195365       Private       HS-grad       Adm-clerical        income  <=50K
195366       Private       HS-grad       Adm-clerical        income  <=50K
195367  Self-emp-inc       HS-grad    Exec-managerial        income   >50K

[195368 rows x 5 columns]

In [21]:
df = df[(df['workclass'] != '?') & (df['occupation'] != '?') & (df['native-country'] != '?')]

melted1 = pd.melt(
    df,
    id_vars=['gender', 'education', 'workclass'],
    value_vars=['capital-gain', 'capital-loss', 'hours-per-week'],
    var_name='Income Feature',
    value_name='Value'
)
print(melted1)

        gender     education     workclass  Income Feature  Value
0         Male          11th       Private    capital-gain      0
1         Male       HS-grad       Private    capital-gain      0
2         Male    Assoc-acdm     Local-gov    capital-gain      0
3         Male  Some-college       Private    capital-gain   7688
4         Male          10th       Private    capital-gain      0
...        ...           ...           ...             ...    ...
135661  Female    Assoc-acdm       Private  hours-per-week     38
135662    Male       HS-grad       Private  hours-per-week     40
135663  Female       HS-grad       Private  hours-per-week     40
135664    Male       HS-grad       Private  hours-per-week     20
135665  Female       HS-grad  Self-emp-inc  hours-per-week     40

[135666 rows x 5 columns]

In [26]:
cast = melted1.pivot_table(index=["gender", "education", "workclass"], columns="Income Feature", values="Value", aggfunc="sum")
print(cast)

Income Feature                        capital-gain  capital-loss  \
gender education    workclass
Female 10th         Federal-gov                  0          1380
                    Local-gov                    0          1602
                    Private                  52487         16255
                    Self-emp-inc              2936          2559
                    Self-emp-not-inc          2635          1721
...                                            ...           ...
Male   Some-college Private                2618893        384761
                    Self-emp-inc            686283         34301
                    Self-emp-not-inc        636689         58581
                    State-gov                77021         19650
                    Without-pay                  0             0

Income Feature                        hours-per-week
gender education    workclass
Female 10th         Federal-gov                  247
                    Local-gov                    467
                    Private                    11065
                    Self-emp-inc                 158
                    Self-emp-not-inc             527
...                                              ...
Male   Some-college Private                   184578
                    Self-emp-inc               13974
                    Self-emp-not-inc           26388
                    State-gov                   9685
                    Without-pay                   65

[190 rows x 3 columns]